.resource-value {
    display: flex;
}

.resource-value {
    display: flex;
    border: 1px solid var(--white);
    border-radius: 0.25rem;
    margin: 0;
}

.resource-value > * {
    padding: .3rem;
}

.resource-value > p {
    border-right: 1px solid var(--white);
    min-width: 45%;
}

.resource-value-btn-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

.resource-value-btn-wrapper > button {
    border: none;
    width: 100%;
    background-color: transparent;
    color: var(--white);
    cursor: pointer;
    font-weight: 700;
    font-size: 1.4rem;
}

.resource-value-btn-wrapper > button:first-child {
    border-right: 1px solid var(--white);
}

.resource-value-btn-wrapper > button:last-child {
    border-left: 1px solid var(--white);
}

@media (hover:hover ) {
    .resource-value-btn-wrapper > button:hover {
        color: #000;
        background-color: var(--white);
        border-color: var(--white);
    }
}