.player-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid var(--white);
    border-radius: .5rem;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.header-wrapper > h3 {
    font-size: 3rem;
    text-align: center;
}

.resources {
    display: flex;
    justify-content: space-evenly;
    gap: .5rem;
}

.player-resource {
    width: 100%;
}

.player-resource-fieldset {
    padding: .5rem 1rem;
    border: 1px var(--white);
    border-color: var(--white);
    border-style: solid;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    gap: .5rem;

}

.player-resource-legend {
    border: 1px solid var(--white);
    padding: .2rem;
    font-size: 1rem;
    border-radius: .25rem;
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width: 1750px) {
    .player-card {
        padding: 0;
        border: none;
    }

    .resources {
        flex-direction: column;
    }
  }

  @media (max-width: 480px) {
    .player-card > h3 {
        font-size: 1.5rem;
    }
  }