:root {
    --orange: rgb(250, 107, 41);
    --green: rgb(132, 226, 43);
    --red: rgb(226, 40, 40);
    --white: rgb(248, 249, 250);
    /* font-size: 8px; */
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.Toastify__toast-body > * {
  color: var(--white);
  font-size: 1rem;
}
.Toastify__toast-theme--colored.Toastify__toast--success {
  background-color: var(--green) !important;
}
.Toastify__toast-theme--colored.Toastify__toast--error {
  background-color: var(--red) !important;
}
.Toastify__toast-theme--colored.Toastify__toast--info {
  background-color: var(--orange) !important;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    font-family: var(--bs-font-sans-serif);
    color: white;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

legend {
  text-align: center;
}