:root {
    --orange: #ee7752;
    --green: #84e22b;
    --red: rgb(226, 40, 40);
    --white: rgb(248, 249, 250);
    --blue: #23a6d5;
    --pink: #e73c7e;
    --cyan: #23d5ab;

    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.Toastify__toast-body > * {
  color: var(--white);
  font-size: 1rem;
}
.Toastify__toast-theme--colored.Toastify__toast--success {
  background-color: var(--green) !important;
}
.Toastify__toast-theme--colored.Toastify__toast--error {
  background-color: var(--red) !important;
}
.Toastify__toast-theme--colored.Toastify__toast--info {
  background-color: var(--orange) !important;
}

#root {
  background: linear-gradient(-45deg, var(--orange), var(--pink), var(--blue), var(--cyan));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  font-family: var(--bs-font-sans-serif);
  color: white;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  min-height: 100vh;
}

#root.static {
  background: var(--blue);
	background-size: 400% 400%;
	animation: unset;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

legend {
  text-align: center;
}

@media (max-width: 480px) {
  #root {
    background: var(--blue);
  }
}